doctype html
html
	head
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(charset="UTF-8")

		link(rel="stylesheet" href="/stylesheets/materialize.min.css")
		title
			|Social Cops Team
	body
		div(class="container")
			h1(class="header center teal-text text-lighten-2")
			|Track Em all
		script(src='/javascripts/jquery.min.js')
		script(src='/javascripts/materialize.min.js')
