    .col.grid-separates {
        text-align: center;
        padding: 0;
    }
    
    .col.boogie {
        border: 1px solid #eee;
        margin: 7px 0;
        background-color: tomato;
        line-height: 50px;
        font-size: 28px;
    }
    
    .updates-header {
        background-color: tomato !important;
        color: white;
        font-size: 20px;
    }
    
    .with-scroll {
        max-height: 430px;
        overflow: auto;
    }
    
    .slide-fade li {
        transition: all 0.4s ease-out;
        opacity: 1;
    }
    .hid{
      margin:0px !important;
      opacity:0 !important;
      border: 0px !important;
    }

.btn, .btn-large, .btn-flat {
    padding: 0 1rem;
    letter-spacing: 0.25px;
}